body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.cat-title p {
    margin: 0;
}

/* ============
Layout
============ */

.container {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    height: auto;
    margin-bottom: 1em;
}

.container-flex {
    display: flex;
    justify-content: space-between;
}

.text {
    width: 50%;
    background-color: #D0B8AC;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
}

.image {
    width: 50%;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.corr-image {
    max-width: 100%;
    object-fit: cover;
    transform: scale(1);
}

.text p {
    margin: 0;
    font-size: 4vw;
    font-weight: 700;
    color: #D0B8AC;
    -webkit-text-stroke: 3px #fff;
}

.cat-title button {
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin: 0;
    background-color: #F3D8C7;
    border: 4px solid #D0B8AC;
    color: #fff;
    width: 100%;
    padding: 15px;
    font-weight: 700;
}

.cat-title button:hover {
    background-color: #95cdec;
    border: 4px solid #F3D8C7;
}

@media (max-width: 915px) {
    .container-flex {
        flex-direction: column;
    }

    .text {
        width: 100%;
    }

    .image {
        width: 100%;
    }

    .text p {
        font-size: 8vw;
    }
}