.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.5em;
  }

button {
    text-decoration: none;
    margin: 0;
    border: none;
    background-color: white;
    cursor: pointer;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 700;
    padding: .25em .25em;
    font-family: 'Ubuntu', sans-serif;
  }

button:hover {
    color: #95cdec;
  }

.tabcontent {
    display: none;
  }

#photos {
    /* border: 2px solid red; */
    /* line-height: 0; */
    /* white-space: nowrap;
    overflow-x: auto;
    max-height: 930px;
    width: 100%; */
     
    /* -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 5;
    column-gap: 0px;   */

    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
.column {
  flex: 0%;
  padding: 0 4px;
}

.column img {
  width: 100%;
  margin-top: 8px;
  vertical-align: middle;
}

@media (max-width: 915px) {
  .tabs button {
    font-size: 1.5rem;
  }

  .tabs {
    padding-bottom: .25em;
  }

  .column {
    flex: 40%;
  }
}