/* 
    D0B8AC
    F3D8C7
    EFE5DC
    FBFEFB
    FFFFFF

    95cdec
*/

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* ================
Typeography
================ */

h1 {
    font-family: 'Ubuntu', serif;
    font-weight: 400;
    color: #000000;
    margin: 0;
}

.subtitle {
    font-weight: 700;
    color: #95cdec;
    font-size: .75rem;
    margin: 0;
}

span {
    font-weight: 700;
    font-size: 3rem;
}

.col-1 p {
    margin: 0;
    font-size: 1.2rem;
    text-align: left;
}

/* ================
Layout
================ */

.container {
    border: 1px solid magenta;

    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
}

.container-about {
    /* border: 2px solid greenyellow; */

    height: 70vh;
    width: 90%;
    padding-bottom: 5em;
}

.col-2 img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    transform: scale(1.8) translateX(-60px);
}

.col-1 {
    /* border: 2px solid orange; */

    width: 40%;
    margin: 0 1em 0 0;
}

.col-2 {
    /* border: 2px solid red; */

    width: 60%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.item-1 {
    /* border: 2px solid blue; */

    height: 40%;
}

.item-2 {
    /* border: 2px solid blue; */

    height: 60%;
}

.item-1 p,
.item-2 p {
    margin: 0;
    padding: 0;
}

header {
    /* border: 2px solid lightblue; */

    background: white;
    padding: 1.6em 0;
}

/* Navigation */

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    padding: .25em 0;
}

nav a:hover, 
nav a:focus {
    color: #95cdec
}

.current-page {
    border-bottom: 2px solid #000000;
}

.current-page:hover {
    color: #000000;
}

@media (max-width: 915px) {
    header {
        text-align: center;
        padding-bottom: 0;
    }

    .col-1 {
        width: 100%;
        margin: 0;
    }

    .container img {
        width: 100%;
    }

    .container-flex {
        flex-direction: column;
        padding-bottom: 0;
    }

    .container-about {
        flex-direction: column;
        height: auto;
    }

    .item-1,
    .itme-2 {
        height: auto;
    }

    .item-2 p {
        padding-bottom: 1em;
    }

    .col-2 {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: .5em 0;
    }
}