@font-face {
    font-family: Futura;
    src: url(../fonts/Futura_sv/Futura\ Std\ Heavy.ttf);
}

* {
    box-sizing: border-box;
}

body {
    font-family: Futura;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: lightgray;
}

.logo {
    font-size: 36px;
    color: black;
}

.nav-links {
    display: flex;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin: 0 15px;
}

.nav-links a:hover {
    color: gray;
}

.container {
    height: 75vh;
    background-color: aqua;
    display: inline-block; /* shrink to fit */
    width: 100%;           /* whatever width you like */
    position: relative; 
}

.container::after {
    padding-top: 56.25%; /* percentage of containing block _width_ */
    display: block;
    content: '';
}

.content {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;  /* follow the parent's edges */
    outline: thin dashed green;            /* just so you can see the box */
  }

.image {
    margin-right: 2%;
    max-height: 90%;
    max-width: 90%;
}

.text {
    background-color: brown;
    width: 100%;
    margin-left: 20%;
}

