@font-face {
    font-family: Futura;
    src: url(fonts/Futura_sv/Futura\ Std\ Heavy.ttf);
  }

body {
    margin: 0;
    font-family: Futura;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: lightgray;
}

.logo {
    font-size: 36px;
    color: black;
}

.nav-links {
    display: flex;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin: 0 15px;
}

.nav-links a:hover {
    color: gray;
}

.profile {
    height: 500px;
}