@font-face {
  font-family: Futura_Light;
  src: url(fonts/Futura_sv/Futura_Book.ttf);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 60px;
  row-gap: 60px;
  padding: 40px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-item p {
  font-size: 20px;
  font-family: "Futura_Light";
  text-align: left;
}
