/* 
2B2A36
D5DDE8
7B6055
7D787D
5C493F
*/

@font-face {
  font-family: Futura_Light;
  src: url(fonts/Futura_sv/Futura_Book.ttf);
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  background-color: #d5dde8;
  height: 55vh;
  width: calc((100% / 3) - 16px);
  margin: 8px;
  border-radius: 3px;
  transition: all 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.grid-item h3 {
  font-size: 5vw;
  padding: 5%;
  text-align: center;
}
