@font-face {
  font-family: Roboto-Normal;
  src: url(fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: Futura;
  src: url(fonts/Futura_sv/Futura\ Std\ Heavy.ttf);
}

* {
  font-family: Futura;
  list-style: none;
  text-decoration: none;
  color: black;
}

body,
h1,
a {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
