@font-face {
  font-family: Roboto-Normal;
  src: url(fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: Futura;
  src: url(fonts/Futura_sv/Futura\ Std\ Heavy.ttf);
}

* {
  font-family: Futura;
  list-style: none;
  text-decoration: none;
  color: black;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
a {
  margin: 0;
  padding: 0;
}

span {
  font-size: 90px;
}

h1 {
  text-align: center;
  opacity: 0;
  background-image: linear-gradient(
    90deg,
    #435b66 0%,
    #a76f6f 25%,
    #eab2a0 50%,
    #a76f6f 75%,
    #435b66 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear 0s infinite, dropin 2s ease-in-out 1s forwards;
}

h2 {
  text-align: center;
  font-size: 40px;
}
