@font-face {
  font-family: Roboto-Normal;
  src: url(fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: Futura;
  src: url(fonts/Futura_sv/Futura\ Std\ Heavy.ttf);
}

@font-face {
  font-family: Futura_Light;
  src: url(fonts/Futura_sv/Futura_Book.ttf);
}

* {
  font-family: Futura;
  list-style: none;
  text-decoration: none;
  color: black;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
a {
  margin: 0;
  padding: 0;
}

span {
  font-size: 90px;
}

/* #031D44 #04395E #70A288 #DAB785 #D5896F */

h1 {
  text-align: center;
  opacity: 0;
  background-image: linear-gradient(
    90deg,
    #435b66 0%,
    #a76f6f 25%,
    #eab2a0 50%,
    #a76f6f 75%,
    #435b66 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear 0s infinite, dropin 2s ease-in-out 1s forwards;
}

footer p {
  text-align: center;
  margin-top: 120px;
  padding: 10px;
  background-color: #f0f0f0;
}

.title {
  margin-left: 50px;
  padding-top: 30px;
  text-align: left;
  font-size: 35px;
}

#text-cont {
  margin-left: 500px;
}

#aboutme {
  font-size: 35px;
  padding-top: 50px;
}

#aboutme-desc {
  font-size: 20px;
  font-family: "Futura_Light";
  margin-right: 33.3%;
}

.profile {
  float: left;
  margin: 0px 10px 10px 0px;
  margin-left: 60px;
  width: 400px;
  border-radius: 50%;
  box-shadow: 10px 5px #f0f0f0;
}

.aboutdiv {
  padding-top: 15px;
}
