/* Style the centered content */
.centered-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

/* Style the side links */
.side-link {
  text-decoration: none;
  color: #333;
  padding: 10px 100px;
  font-weight: bold;
  font-size: 40px;
  opacity: 0;
  animation: leftin 2s ease-in-out 3s forwards;
}

.link {
  padding: 10px 20px;
}

/* Style the name */
.name {
  font-size: 4rem;
}
